$primary-color: #ebe8f0;
$add-logo-border: #3D52A0;
$card-background: #EDE8F5;
$card-title: #2643a9;
$card-description: #48599a;
$button-font: #48599a;
$button-hover: #3D52A0;
$button-hover-font: #f5e8e8;
$warning-button-font: #48599a;
$warning-button-hover: #ff0000d3;
$data-table-toolbar: #EDE8F5;
$data-table-toolbar-font: #48599a;
$data-table: #EDE8F5;
$shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
$action-button: #48599a;
$action-button-hover: #3D52A0;
$action-button-hover-font:  #EDE8F5;
$add-page-background: #EDE8F5;
$add-page-form-background: #EDE8F5;
$bookmarks-spacing: #2c3e50;
